<nav class="navbar navbar-light bg-dark">
  <form class="container-fluid justify-content-start">
    <span style="color: white">Home</span>
    <span style="color: white; margin-left: 8vw" routerLink="/forms"
      >Forms</span
    >
    <button
      type="button"
      class="btn btn-info"
      style="margin-left: 80vw"
      (click)="logout()"
    >
      logout
    </button>
  </form>
</nav>

<div class="example-container">
  <h2>Form Fields</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="products"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box1" *ngIf="products">
      <div class="example-box1" *ngFor="let item of products" cdkDrag>
        <mat-form-field
          *ngIf="item.type === 'text'"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>{{ item.label }}</mat-label>
          <input matInput placeholder="Enter your firstname" value="" />
        </mat-form-field>

        <mat-form-field
          *ngIf="item.type === 'password'"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>{{ item.label }}</mat-label>
          <input matInput placeholder="Enter your password" value="" />
        </mat-form-field>

        <mat-form-field
          *ngIf="item.type === 'email'"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>{{ item.label }}</mat-label>
          <input matInput placeholder="abc@gmail.com" value="" />
        </mat-form-field>

        <div *ngIf="item.type === 'textarea'" class="content">
          <input matInput placeholder="write your message" value="" />
        </div>

        <button
          *ngIf="item.type === 'button' || item.type === 'submit'"
          mat-raised-button
          type="{{ item.type }}"
        >
          {{ item.value }}
        </button>

        <mat-icon
          style="margin-left: 16vw; position: relative; top: -5vh"
          (click)="deleteRequest(item.id)"
          >close</mat-icon
        >
      </div>
      <br />
      <br />
  
      <div *ngIf = "products && products.length > 0">
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>Filename</mat-label>
          <input
            matInput
            placeholder="Enter fileName"
            value="{{ products[0].fileName }}"
            type="text"
            #fileName
          />
        </mat-form-field>
        <br>
        <button
          mat-raised-button
          class="pink-txt-color"
          (click)="saveForm(fileName.value)"
          *ngIf="products && products.length > 0"
         color = "warn"
        >
          Save
        </button>
      </div>
    </div>
  </div>
  <button
    mat-button
    (click)="showPreviewForm(products)"
    *ngIf="products && products.length > 0"
  >
    Preview
  </button>
</div>
