<div mat-dialog-content> 
    <form [formGroup] = "StudentForm">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="your Name" formControlName = "name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Your Email" formControlName = "email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
        <mat-select placeholder = "city" formControlName = "city">
            <mat-option value = "delhi">Delhi</mat-option>
            <mat-option value = "Agra">Agra</mat-option>
            <mat-option value = "Gurgaon">Gurgaon</mat-option>
            <mat-option value = "Mumbai">Mumbai</mat-option>
        </mat-select>
        </mat-form-field>
        <label for=""><h1>places</h1></label>
        <br>
        <mat-radio-group class = "example-radio-group" formControlName = "places">
            <mat-radio-button *ngFor = "let city of places" [value] = "city" class = "example-radio-button">
          {{city}}
          </mat-radio-button>
        </mat-radio-group>
    
        <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName = "Remarks" placeholder="write any Message"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align] = "'end'">
    <button mat-raised-button color= "warn" mat-dialog-close>Cancel</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click) = "addFormData()">{{button}}</button>
</div>
